* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-image: url('adnsuback.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#cardmain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('vecteezy_abstract-white-background-with-neumorphism-elements-and-gold_6945575.jpg');
    background-size: 100%;
    width: 51vh;
    height: 33vh;
    border-radius: 1.25vh;
    box-shadow: 0px 0px 10px #21212175;
}
#bg2 {
    width: 51vh;
    height: 33vh;
    position: absolute;
    filter: opacity(0.2);
    z-index: -1;
}
#prof3x4 {
    width: 20%;
    margin: 2vh;
    float: right;
    border-radius: 0.2vh;
}
#logo {
    width: 20%;
    float: right;
    position: relative;
    margin: 2vh;
}
#chip {
    margin-left: 6vh;
    width: 15%;
    box-shadow: inset 0px 0px 4px black;
    border-radius: 1vh;
}
#header_0 {
    margin-left: 2vh;
    margin-top: 1.3vh;
    font-size: 1.5vh;
}
.header0 {
    margin-top: 0.1vh;
}
.unipane {
    margin-left: 1.7vh;
    font-weight: 600;
    display: flex;
}
#ucode {
    margin-left: 16vh;
}
#facl {
    margin-top: 3vh;
    margin-left: -11.5vh;
}
#names_0, #surnames_0, #dateofbirth_0, #entrance_0 {
    margin-left: 2vh;
    font-size: 1.3vh;
}
#names_1, #surnames_1, #dateofbirth_1, #entrance_1{
    margin-left: 1.6vh;
    font-weight: 600;
    font-size: 1.5vh;
}
#fin_0, #graduation_0 {
    margin-left: 22vh;
    position: relative;
    top: -7.4vh;
    font-size: 1.3vh;
}
#fin_1, #graduation_1 {
    position: relative;
    font-size: 1.5vh;
    margin-left: 21.5vh;
    font-weight: 600;
    top: -7.4vh
}
#logo {
    margin-top: -10vh;
}
/* #cardmain:hover{
    transform: rotateY(180deg);
}
*/
#cardback {
    background: url('vecteezy_abstract-white-background-with-neumorphism-elements-and-gold_6945575.jpg');
    background-size: 100%;
    width: 51vh;
    height: 33vh;
    border-radius: 1.25vh;
    box-shadow: 0px 0px 10px #21212175;
}
#uppersmalltxt_0, #uppersmalltxt_1 {
    font-size: 0.92vh;
    position: absolute;
    top: 0.6vh;
    left: 0.5vh;
    font-weight: 600;
}
#uppersmalltxt_1 {
    left: 29vh;
}
#uppersmalltxt_10 {
    font-size: 1.35vh;
    float: right;
    position: absolute;
    right: 1vh;
    top: 0.3vh;
}
#line_back {
    background: rgb(201,202,204);
    background: linear-gradient(90deg, rgba(201,202,204,1) 0%, rgba(241,241,241,1) 50%, rgba(201,202,204,1) 100%);
    width: 100%;
    height: 8vh;
    position: absolute;
    top: 2.3vh;
}
#cvv {
    background-color: #E6E7E9;
    border-radius: 0.5vh;;
    width: 20vh;
    height: 4.5vh;
    position: absolute;
    top: 12vh;
    left: 2vh;
    padding: 1.1vh;
    padding-left: 12vh;
    font-style: italic;
    font-size: 1.5vh;
}
#banklogo_img {
    width: 20vh;
    position: absolute;
    top: 18vh;
    left: 2vh;
}
#cardcode {
    position: absolute;
    top: 22.25vh;
    left: 2.3vh;
    font-size: 3.2vh;
    font-weight: 499;
}
#mastercard_img {
    width: 10vh;
    position: absolute;
    right: 2vh;
    top: 15vh;
}
#debit_img {
    width: 10vh;
    position: absolute;
    bottom: 2vh;
    right: 2vh;
}
#callimg {
    width: 6vh;
    position: absolute;
    bottom: 2.5vh;
    left: 20vh;
}
#validthru {
    position: absolute;
    left: 2vh;
    bottom: 4.5vh;
    font-size: 1.2vh;
    font-weight: 500;
    color: rgb(68, 68, 68);
}
#validthru_date {
    font-size: 1.5vh;
    position: absolute;
    bottom: 2.5vh;
    left: 2.5vh;
    font-weight: 400;
    color: #000000;
}
#website {
    font-size: 1vh;
    position: absolute;
    bottom: 0.8vh;
    left: 2vh;
    color: rgb(68, 68, 68);
}
#wireless_img {
    position: absolute;
    width: 3.2vh;
    bottom: 1.5vh;
    left: 12.5vh;
    filter: opacity(0.75);
}
#masternumber {
    font-size: 0.8vh;
    position: absolute;
    right: 2.1vh;
    top: 13vh;
}
#card {
    perspective: 1000px;
    background-color: transparent;
    transition: transform 2s;
    transform-style: preserve-3d;
}
#headcard:hover #card {
    transform: rotateY(180deg);
}
#headcard {
    perspective: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#cardmain, #cardback {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
#cardback {
    transform: rotateY(180deg);
}
#h3sign {
    color: #fbfbfb;
    font-size: 2rem;
    bottom: 1dvh;
    right: 1dvh;
    position: absolute;
}
